.HeaderNavbar {
  background-color: #f6f6f6;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

.font {
  font-family: Helvetica Neue, Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
}

.logo {
  width: 60px;
  height: auto;
}

.my-trips-button {
  background-color: #b9e6a2;
  border: 0;
  padding: 8px 0px 8px;
  margin-right: 15px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  color: black;
}

.accounts-button {
  background-color: #b9e6a2;
  border: 0;
  padding: 8px 0px 8px;
  margin-right: 18px;
  width: 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  color: black;
}

.accounts-button:hover,
.my-trips-button:hover {
  background-color: #b9e6a2;
  font-weight: 400;
  color: rgb(78, 78, 78);
}
