.font {
  font-family: Helvetica Neue, Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
}

.subtitle-font {
  margin-bottom: 40px;
  text-align: center;
}

.add-trip-text {
  align-content: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #ccc;
  padding: 10px;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 30px 20px 30px 30px;
}

.custom-card {
  flex-wrap: wrap;

  height: 15rem;
  width: 17rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 8px;
}

.add-trip-card-container {
  display: flex;
  flex-wrap: wrap;

  height: 15rem;
  width: 17rem;
  border: 1px solid #ccc;
  justify-content: center;
  align-items: center;
}

.custom-card:hover {
  background-color: #b9e6a2;
  transform: scale(1.05);
  transition: transform 0.3s;
  cursor: pointer;
}

.custom-card-title {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border: 0px solid white;
  width: 100%;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.save-button {
  background-color: #72e195;
  color: white;
  border: none;
  padding: 5px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.edit-button {
  background-color: #d59ef3;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}

.delete-button {
  background-color: #d59ef3;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.card-link {
  text-decoration: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  white-space: nowrap;
  text-align: center;
  padding: 70px 0 70px 0;
  color: rgb(0, 0, 0);
  font-size: 40px;
  border-radius: 10px;
  border: none;
  font-family: Helvetica Neue, Tahoma, Verdana, sans-serif;
  letter-spacing: 1.5px;
}

.vertical-text:hover,
.vertical-text:active {
  background-color: #b9e6a2;
  color: white;
  border-radius: 4px;
}

.adp-grid-container {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-gap: 10px;
  align-items: start;
  height: 100vh;
  border: none;
}

.vertical-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid rgb(220, 220, 220);
  border-radius: 10px;
}

.vertical-buttons button:disabled {
  background-color: white;
  color: rgb(135, 135, 135);
  cursor: not-allowed;
  border: none;
}

.vertical-buttons button:disabled .vertical-text {
  color: rgb(149, 149, 149);
  background-color: white;
}

.create-trips-container {
  border: 1px solid #ccc;
  margin: 20px;
  padding: 20px;
}

.create-trips-title {
  margin-bottom: 20px;
}

.create-trips-labels {
  margin-left: 20px;
}

.input {
  width: 400px;
  margin: 10px 0 20px 20px;
}

.create-trip-button {
  background-color: #d59ef3;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
}

.cancel-trip-button {
  background-color: #d59ef3;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.map-container {
  height: 400px;
  margin-bottom: 30px;
}
